.Rproj.user
.Rhistory
.RData
.Ruserdata
.bashvars
*.bam
*.sam
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.fasta
*.fa
*.gff3
sepp-refs-silva-128.qza
silva-138-99-515-806-nb-classifier.qza
imported_reads.qza
imported_reads_trimmed.qza
241121_StonyCoral.tar